{% extends 'BaseUI/BaseFacility/baseProposal.html' %}

{% load staticfiles %}

{% block data-content %}
    <form id="normal" method="post" onsubmit="ShowLoading();" >
    {% csrf_token %}
    <div class="input-data">
        <div class="row">
            <div class="col-md-4">abc</div>
            <div class="col-md-8"><input type="text" id="inp"></div>
        </div>
        <button type="submit" id="subMit">OK</button>



<div id="Loading" style="position: fixed;left: 50%; top: 20%; width: 200px; text-align: center; background: #ffff; border: 0px solid #000;">
        Waiting..<br>
        <img src="{% static 'image/Flickr-1s-100px.gif' %}">
        </div>
    </div>
    </form>
    <script>
        $(document).ready(function () {
            $("#Loading").hide();
        })
        function ShowLoading() {
            $("#subMit").attr('disabled',true);
            $("#Loading").show();
        }
{#        function ShowLoading(e) {#}
{#            $("#inp").attr('disabled',true);#}
{#            var div = document.createElement("div");#}
{#            var img = document.createElement("img");#}
{#            img.src = '{% static 'image/Disqus-1s-200px.gif' %}';#}
{#            div.innerHTML = "Calculating..<br />";#}
{#            div.style.cssText = 'position: fixed; top: 20%; left: 40%; z-index: 5000; width: 300px; text-align: center; background: #ffff; border: 0px solid #000';#}
{#            div.appendChild(img);#}
{#            var divSpiner = document.getElementsByClassName("input-data");#}
{#            divSpiner.appendChild(div);#}
{#            document.body.appendChild(div);#}
{#            $("#nextBtn").attr('disabled',true);#}
{#            $("#prevBtn").attr('disabled',true);#}
{#            inputdata.show();#}
{#            return true;#}
{#        }#}
    </script>
{% endblock %}
