{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Proposal{% endblock %}

{% block vertical %}
    <div class="vertical-menu">
        <a class="active">Proposal Management</a>
        <a href="#"><i class="fa fa-list">&emsp;List of Proposals</i></a>
        <a href="#"><i class="fa fa-building">&emsp;New Proposal</i></a>
        <a href="#"><i class="fa fa-bar-chart-o">&ensp;Risk Summary</i></a>
        <a href="#"><i class="fa fa-arrow-left">&emsp;Back to Component</i></a>
    </div>
{% endblock %}